---
// import "@/styles/global.css";
import AboutMe from "@/components/AboutMe.astro";
import Badge from "../components/Badge.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Experience from "../components/Experience.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import ProfileIcon from "../components/icons/Profile.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
	title="Porfolio de Leonardo - Desarrollador y Programador"
	description="Contrata a Leonardo para crear tu aplicación web."
>
	<main class="px-4">
		<SectionContainer class="py-16 pb-36">
      <Hero>
      </slot>
    </Hero>
		</SectionContainer>

		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<BriefcaseIcon class="size-6" />
					Experiencia Laboral
				</h2>
				<Experience />
			</SectionContainer>

			<SectionContainer id="proyectos">
				<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<CodeIcon class="size-6" />
					Proyectos
				</h2>
				<Projects />
			</SectionContainer>

			<SectionContainer id="sobre-mi">
				<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
					<ProfileIcon class="size-6" />
					Sobre mí
				</h2>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
