---
// import "@/styles/global.css";
import AboutMe from "@/components/AboutMe.astro";
import BriefcaseIcon from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import Layout from "@/layouts/Layout.astro";
import ProfileIcon from "@/components/icons/Profile.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import Hero from "@/components/Hero.astro";
---

<Layout
	title="Porfolio de Leonardo - Desarrollador y Programador"
	description="Contrata a Leonardo para crear tu aplicación web."
>
	<main class="px-4">
		<SectionContainer class="py-16 pb-36">
			<Hero />
		</SectionContainer>
	</main>

	<div class="space-y-24">
		<SectionContainer id="experiencia">
			<TitleSection>
				<BriefcaseIcon class="size-6" />
				Experiencia Laboral
			</TitleSection>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<TitleSection>
				<CodeIcon class="size-6" />
				Proyectos
			</TitleSection>
				<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<TitleSection>
				<ProfileIcon class="size-6" />
				Sobre mí
			</TitleSection>
			<AboutMe />
		</SectionContainer>
	</div>
</Layout>
