---
 const personalImageAlt = "Leonardo Olivera"

---
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Leonardo, programador y desarrollador web de Buenos Aires,
      Argentina. <strong>Me especializo en el desarrollo backend</strong> y tengo
      experiencia trabajando con diversas tecnologías y herramientas.
    </p>
    <p>
      He trabajado en varios proyectos de codigo abierto con <strong
        >equipos multidisciplinarios.</strong
      > Me adapto a nuevos desafíos y aprendo nuevas tecnologías para mejorar mis
      habilidades como desarrollador.
    </p>
    <p>
      Estoy disponible para trabajar y me encantaría colaborar contigo para
      llevar tu idea a la realidad.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/porfolio/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</section>
