---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web - Programador",
    company: "ENACOM",
    description:
      "Desarrollo y mantengo el sitio indicadores, me especializo en el backend con .NET y en la gestión de bases de datos SQL y NoSQL para asegurar un rendimiento óptimo del sistema.",
    link: "https://indicadores.enacom.gob.ar/",
  },
  {
    date: "Octubre 2013",
    title: "Soporte Técnico - BNA",
    company: "Banco Nación Argentina",
    description:
      "Fui responsable de brindar soporte técnico a los usuarios del Banco Nación Argentina, atendiendo y resolviendo incidencias relacionadas con servidores, conectividad, infraestructura tecnológica y cajeros automáticos (ATM).",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
