<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class={`px-3 py-1
    flex flex-row items-center
   bg-neutral-200 dark:bg-black/50`}
  >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="/porfolio/#experiencia">Experiencia</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/porfolio/#proyectos"
      >Proyectos</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/porfolio/#sobre-mi"
      >Sobre mí</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="/porfolio/#contacto"
      >Contacto</a
    >
  </nav>
</header>
