---
const personalImageAlt = "Leonardo Olivera";
import Badge from "@/components/Badge.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";

const SOCIAL_LINKS = [
  {
    name: "LinkedIn",
    icon: LinkedInIcon,
    class: "size-4 md:size-6",
    href: "https:/www.linkedin.com/in/leoliveradev/",
  },
  {
    name: "GitHub",
    icon: GitHubIcon,
    class: "size-4 md:size-6",
    href: "https:/www.github.com/olezdev/",
  },
  {
    name: "Gmail",
    icon: MailIcon,
    class: "size-4 md:size-6",
    href: "mailto:leoliveradev@gmail.com",
  },
];
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/porfolio/leoliveradev.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/leoliveradev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Leonardo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Desarrollador Web. De Buenos Aires Argentina. Especializado en Backend.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    {
      SOCIAL_LINKS.map(({ href, icon: Icon, name, class: pillClass }) => (
        <SocialPill href={href}>
          <Icon class={pillClass} />
          {name}
        </SocialPill>
      ))
    }
  </nav>
</div>
